.gotop, .gobottom{
    display: block;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background: #FFF;
    border: 1px solid #999;
    text-align: center;
    letter-spacing: -1px;
    font-size: 85%;
    text-decoration: none;
    color: #333;
    opacity: 0.5;
    position: relative;
}
.gotop{
    padding-top: 30px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10000;
}
.gotop::before{
    content: "";
    display: block;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    width: 25%;
    height: 25%;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    transform: rotate(-45deg);
}
.gotop:hover, .gobottom:hover{
    opacity: 1;
}
.gobottom::after{
    content: "";
    display: block;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    width: 25%;
    height: 25%;
    bottom: 25%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    transform: rotate(-225deg);
}
.gobottom{
    padding-bottom: 30px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
}
.preview{
    display: block;
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    background: #000000;
    border: 1px solid #999;
    text-align: center;
    letter-spacing: -1px;
    font-size: 85%;
    text-decoration: none;
    color: #333;
    position: relative;
    opacity: 0.8;
}
.preview:hover{
    opacity: 1;
}
.preview img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-filter: blur(3px);
}
.preview:hover img{
    -webkit-filter: blur(0);
}